<section class=" bg-gray-100 py-15 border border-gray-400">
    <div class="theContainer">
        <h2 class=" text-green-500 text-5xl text-center font-medium  ">
            produts</h2>
        <!-- search input -->
        <input [(ngModel)]="theSearch" type="search" class="border border-green-600 block w-1/2 mx-auto my-10">
        <!-- gird & pagination-->
        <div class="parent mt-10 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            @for (product of productList | paginate: { id: 'foo',
            itemsPerPage: pageSize,
            currentPage: p,
            totalItems: total } | search:theSearch ; track product.id) {

            <app-card [product]="product"></app-card>
            }
        </div>
        <div class="flex justify-center pt-5">
            <pagination-controls id="foo" (pageChange)="loadProducts($event)"></pagination-controls>
        </div>
    </div>
</section>