<section>
    <!-- use this way if it doesnt from api -->
    <owl-carousel-o [options]="mainSlider">
        <ng-template carouselSlide>
            <img src="/slider/ms-1.avif" class="w-full h-50" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/slider/ms-2.avif" class="w-full h-50" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/slider/ms-3.avif" class="w-full h-50" alt="" srcset="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/slider/ms-4.avif" class="w-full h-50" alt="" srcset="">
        </ng-template>
    </owl-carousel-o>

</section>