<section class="bg-gray-200 py-4">
    <div class="theContainer grid sm:grid-cols-12 gap-10 justify-center">

        <div class="col-span-8  rounded-lg shadow p-3">
            <div class="flex items-center space-x-4">
                <!-- cartDetails === {totalCartPrice , Products} -->
                <h1 class="text-3xl">Cart</h1>
                <span class="text-orange-700">{{cartDetails.products.length}}</span>
            </div>

            @for (item of cartDetails.products; track item.product._id) {
            <div class="bg-white p-2 rounded shadow my-2   grid sm:grid-cols-12 ">

                <div class="col-span-1">
                    <img [src]="item.product.imageCover" class="w-full" [alt]="item.product.title">
                </div>

                <div class="col-span-11 flex items-center justify-between">

                    <div>
                        <h3>{{item.product.title}}</h3>
                        <div class="flex items-center space-x-6 my-3">
                            <div class="bg-gray-200 border rounded-lg flex items-center space-x-4 py-1 px-2">
                                <button (click)="updateCount(item.product._id , item.count - 1)"
                                    class="cursor-pointer"><i class="fas fa-minus"></i></button>
                                <span>{{item.count}}</span>
                                <button (click)="updateCount(item.product._id , item.count + 1)"
                                    class="cursor-pointer"><i class="fas fa-plus"></i></button>
                            </div>

                            <button (click)="removeItem(item.product._id)" class="cursor-pointer"><i
                                    class="fas fa-trash-can"></i></button>
                        </div>

                    </div>
                    <span>{{item.price | currency}}</span>

                </div>

            </div>
            }

        </div>

        <div class="col-span-4 bg-white p-4 h-fit rounded-lg shadow">
            <h2 class="text-2xl">Order Summary</h2>
            <div class="flex items-center justify-between my-4">
                <h3>price</h3>
                <h4>{{cartDetails.totalCartPrice}}</h4>
            </div>
            <button [routerLink]="['/checkout' , cartDetails._id ]" class="btn">Procee To CheckOut</button>
        </div>

    </div>
</section>