<div class="my-2">
    <div class="relative ">

        @if (element === 'input'){
        <input [class]="{'border-green-700': control?.valid,
                'border-red-700':control?.invalid && control?.touched,
            }" [formControl]="control" [type]="typeInput === 'password' ? (flag ? 'password' : 'text') : typeInput"
            [id]="idInput" lable="lableInput" class="main-input peer" placeholder=" " />
        }
        @else if (element === "text") {
        <textarea [class]="{'border-green-700': control?.valid,
                'border-red-700':control?.invalid && control?.touched,
            }" [formControl]="control" [id]="idInput" class="main-input peer" placeholder=" ">
            ></textarea>
        }


        <label [class]="{
                'text-green-700':control?.valid,
                'text-red-700':control?.invalid && control?.touched
            }" [for]="idInput" class="main-lable">{{lableInput}}</label>

        @if (typeInput === 'password') {
        <span (click)="flag = !flag" class="absolute end-4 top-1/2 -translate-y-1/2 cursor-pointer">
            <i class="fas" [class.fa-eye]="flag" [class.fa-eye-slash]="!flag"></i>
        </span>
        }
    </div>

    <!-- errors -->

    @if (control?.errors && control?.touched) {
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <ul class="list-disc list-inside">
            @if (control?.hasError('required')) {
            <li>Input is required.</li>
            }
            @if (control?.hasError('minlength')) {
            <li>Input should be more than or equal 3 chars</li>
            }
            @if (control?.hasError('maxlength')) {
            <li>Input should be less than or equal 20 chars</li>
            }
            @if (control?.hasError('email')) {
            <li>Please enter a valid email address</li>
            }
            @if (control?.hasError('pattern')) {
            <li><ng-content /></li>
            }
            @if (control?.hasError('mismatch')) {
            <li>Password confirmation is incorrect</li>
            }
        </ul>
    </div>
    }
</div>