<section class=" w-10/12 mx-auto   bg-gray-200 rounded-lg border border-gray-200 p-4 shadow-md md:1/2 mz-auto my-14 ">
    <h1 class="text-center mb-3 font-light text-3xl">login Now</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">


        <!-- email -->
        <app-input [control]="loginForm.get('email')" [typeInput]="'email'" idInput="'email'"
            [lableInput]="'Emial'"></app-input>
        <!-- password -->
        <app-input [control]="loginForm.get('password')" [typeInput]="'password'" idInput="'password'"
            [lableInput]="'Password'">
            Please Enter Your Password
        </app-input>

        <!-- forget password -->
        <div class="flex items-center space-x-10">
            <a routerLink="/forget" class="text-sky-600 cursor-pointer">Forget Passeord</a>

            <button type="submit" class="btn mt-4" [disabled]="isLoading">
                login
                @if(isLoading){
                <span><i class="fas fa-spinner animate-spin ml-2"></i></span>
                }
            </button>

        </div>
        <!-- meassage error -->
        @if(msgError){
        <p class="text-center text-red-900 mt-4 p-4 bg-red-200">{{ msgError }}</p>
        }

    </form>
</section>