@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@tailwind utilities;


body {
    font-family: "Edu NSW ACT Cursive", cursive;
}


@layer components {

    .theContainer {
        @apply w-11/12 mx-auto;
    }

    .main-lable {
        @apply absolute text-sm text-gray-300 dark:text-gray-400 duration-300 -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
    }

    .main-input {
        @apply bg-gray-700 pt-[1rem] block rounded-t-lg px-2.5 pb-2.5 w-full text-sm text-gray-50 dark:bg-gray-700 border-0 border-b-2 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
    }

    .btn {
        @apply disabled:bg-gray-500 disabled:cursor-not-allowed bg-green-700 text-white border border-green-900 py-1.5 cursor-pointer hover:bg-green-900 transition-all duration-300 w-full;
    }

    .btn-main {
        background-color: #0aad0a;
        padding: 7px 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .btn-main:disabled {
        cursor: not-allowed;
        background-color: #ccc;
    }

    .btn-main:disabled:hover {
        background-color: #ccc;
    }

    .btn-main:hover {
        background-color: #11bd11;
    }

}

/*/* to disappear the icon of eye in (Chrome / Edge) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-password-toggle-button {
    display: none;
}

/* to disappear the icon of eye in (Safari) */
input[type="password"] {
    -webkit-text-security: disc;
}